<button
  {{ attr }}
  type="{% if type == 'submit' %}submit{% else %}button{% endif %}"
  class="{{ class }} flex items-center justify-center px-[32px]  font-semibold duration-300 ease-in-out overflow-hidden group/btn-primary btn-primary h-[48px]"
>
  <span
    class="
      overlay absolute left-0 top-0 w-full h-full z-10
      {% case settings.btn_style %}
        {% when 'card' %}
          group-hover/btn-primary:brightness-75
        {% endcase %}
      duration-200 ease-in-out
    "
  ></span>
  <span class="relative z-50 !text-inherit flex items-center">
    {{ src }}
    {% if settings.btn_primary_icon != blank or icon != blank %}
      <span class="pl-4 relative">
        {% for i in (1..2) %}
          {% liquid
            if forloop.index == 1
              assign imgClass = 'absolute top-0 left-0 opacity-0 group-hover/btn-primary:left-6 group-hover/btn-primary:opacity-100 transiton  w-[24px] h-[24px] duration-300 ease stroke'
            else
              assign imgClass = 'group-hover/btn-primary:opacity-0 group-hover/btn-primary:translate-x-16 duration-300 ease-in-out  w-[24px] h-[24px] stroke'
            endif
          %}
          {% if icon != blank %}
            <span>
              <img
                src="{{ icon | asset_url }}"
                alt="icon"
                width="100"
                height="100"
                loading="lazy"
                class="{{ imgClass }}"
              >
            </span>
          {% else %}
            {% if settings.btn_primary_icon != blank %}
              {{ settings.btn_primary_icon | image_url: width: 100 | image_tag: class: imgClass }}
            {% else %}

            {% endif %}
          {% endif %}
        {% endfor %}
      </span>
    {% endif %}
  </span>
</button>
