{% if class == 'custom-article' %}
  <div
    class="group-article"
  >
    <div class="banner-img">
      {% if article.image != blank %}
        <a
          rel="nofollow"
          href="{{ article.url }}"
          class=""
        >
          <img
            alt="{{ article.image.alt }}"
            class="object-cover w-full h-full hover:scale-110 blog"
            src="{{ article.image | image_url }}"
            loading="lazy"
            srcset="
              {%- if article.image.width >= 100 -%}{{ article.image | image_url: width: 100 }} 100w,{%- endif -%}
              {%- if article.image.width >= 375 -%}{{ article.image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if article.image.width >= 550 -%}{{ article.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if article.image.width >= 750 -%}{{ article.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if article.image.width >= 1100 -%}{{ article.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if article.image.width >= 1500 -%}{{ article.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if article.image.width >= 1780 -%}{{ article.image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if article.image.width >= 2000 -%}{{ article.image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if article.image.width >= 3000 -%}{{ article.image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if article.image.width >= 3840 -%}{{ article.image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ article.image | image_url }} {{ article.image.width }}w
            "
            widths="50,100,165, 360, 535, 750, 1070, 1500"
            sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw"
            width="{{ article.image.width }}"
            height="auto"
          >
        </a>
      {% else %}
        <div class="no-cards">
          {{ 'collection-1' | placeholder_svg_tag }}
        </div>
      {% endif %}
    </div>
    <div
      class="banner-content"
      {% if settings.blog_card_style == 'card' %}
        style="background:{{ section.settings.card_bg }};"
      {% endif -%}
    >
      {% if settings.blog_card_style == 'standard' %}
        <div class="contents">
          <p
            style="text-align:{{ settings.blog_card_text_alignment }}; color:#fff;"
          >
            {% if show_date %}
              {{ article.created_at | date: '%d %b %Y' -}}
            {%- endif %}
          </p>
          <a
            rel="nofollow"
            href="{{ article.url }}"
            class="article h3"
            style="text-align:{{ settings.blog_card_text_alignment }};"
          >
            <h5 class="h4">{{ article.title | truncatewords: 14 }}</h5>
          </a>
        </div>
      {% endif %}
      <a href="{{ article.url }}" class="contents-btn button button_primary">
        {% render 'button-primary', text: 'VIEW JOURNAL' %}
      </a>
    </div>
  </div>
{% elsif class == 'custom-article-bg' %}
  <div class="group-grid article_card_main">
    <div class="article_card_image">
      <a rel="nofollow" href="{{ article.url }}" class="article-img-link" aria-label="{{ article.title }}">
        {% if article.image != blank %}
          <img
            alt="{{ article.image.alt }}"
            class=""
            src="{{ article.image | image_url }}"
            loading="lazy"
            sizes="(min-width: 960px) 450px, (min-width: 720px) 50vw, 100vw"
            srcset="
              {%- if article.image.width >= 100 -%}{{ article.image | image_url: width: 100 }} 100w,{%- endif -%}
              {%- if article.image.width >= 375 -%}{{ article.image | image_url: width: 375 }} 375w,{%- endif -%}
              {%- if article.image.width >= 550 -%}{{ article.image | image_url: width: 550 }} 550w,{%- endif -%}
              {%- if article.image.width >= 750 -%}{{ article.image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if article.image.width >= 1100 -%}{{ article.image | image_url: width: 1100 }} 1100w,{%- endif -%}
              {%- if article.image.width >= 1500 -%}{{ article.image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {%- if article.image.width >= 1780 -%}{{ article.image | image_url: width: 1780 }} 1780w,{%- endif -%}
              {%- if article.image.width >= 2000 -%}{{ article.image | image_url: width: 2000 }} 2000w,{%- endif -%}
              {%- if article.image.width >= 3000 -%}{{ article.image | image_url: width: 3000 }} 3000w,{%- endif -%}
              {%- if article.image.width >= 3840 -%}{{ article.image | image_url: width: 3840 }} 3840w,{%- endif -%}
              {{ article.image | image_url }} {{ article.image.width }}w
            "
            width="{{ article.image.width }}"
            height="auto"
          >
        {% else %}
          {{ 'collection-1' | placeholder_svg_tag }}
        {% endif %}
      </a>
    </div>
    <div class="article-card-content">
      {% if settings.blog_card_style == 'standard' %}
        <a href="{{ article.url }}" class="content-hover">
          <h4 class="text-body">
            {{ article.title | strip_html | truncatewords: 7 }}
          </h4>
        </a>
      {% endif %}
      {% if settings.blog_card_style == 'standard' %}
        <p class=" article_date">
          {% if show_date %}
            {{ article.created_at | date: '%B %d %Y' -}}
          {%- endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endif %}
