{% style %}
  .reset-password-container {
    background-color: var(--body-background);
  }
{% endstyle %}

<section class="main-login w-full border-t border-b global_border_color shopify-section-{{ section.id }} relative">
  <div class="{% if settings.container == 'boxed' %}container{% else %}container-fluid{% endif %} mx-auto lg:h-[800px] h-full">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'image' %}
          <div class="lg:w-1/2 w-full {% if forloop.first %}lg:pr-10 lg:left-0{% else %}lg:right-0 lg:pl-10{% endif %} lg:absolute top-0 h-full">
            <figure class="relative overflow-hidden h-full">
              {% if block.settings.form_image %}
                {{
                  block.settings.form_image
                  | image_url: width: 1500
                  | image_tag:
                    loading: 'lazy',
                    sizes: '100',
                    widths: '165, 360, 535, 750, 1070, 1500',
                    class: 'object-cover w-full h-full lg:h-[800px] h-[400px]'
                }}
              {% else %}
                {{
                  'lifestyle-1'
                  | placeholder_svg_tag: 'object-cover w-full h-full bg-gray-300 lg:h-[800px] h-[400px]'
                }}
              {% endif %}
            </figure>
          </div>
        {% when 'form' %}
          <div class="relative {% if forloop.first %}mr-auto{% else %}ml-auto{% endif %} w-full lg:w-1/2 py-10 flex items-center lg:text-left text-center h-full">
            <div class="w-full">
              <h3>{{ block.settings.title }}</h3>
              <span>
                {{ block.settings.description }}
              </span>

              {%- form 'reset_customer_password', class: 'flex flex-col gap-5 mt-5' -%}
                {{ form.errors | default_errors }}

                <div class="field">
                  <label for="password" class="hidden">{{ 'main-reset-password.password' | t }}</label>
                  <input
                    type="password"
                    name="customer[password]"
                    id="password"
                    class="w-full border"
                    placeholder="{{ 'main-reset-password.password' | t }}"
                  >
                </div>

                <div class="field">
                  <label for="password_confirmation" class="hidden">{{ 'main-reset-password.confirm_pw' | t }}</label>
                  <input
                    type="password"
                    name="customer[password_confirmation]"
                    id="password_confirmation"
                    class="w-full border"
                    placeholder="{{ 'main-reset-password.confirm_pw' | t }}"
                  >
                </div>

                {% render 'btn-primary',
                  src: 'Reset Password',
                  class: 'w-full sm:w-fit mt-5 mx-auto lg:mx-0',
                  type: 'submit'
                %}
              {%- endform -%}
            </div>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "t:section.main-login.name",
  "blocks": [
    {
      "type": "image",
      "limit": 1,
      "name": "t:section.main-login.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "form_image",
          "label": "t:section.main-login.blocks.image.settings.form_image"
        }
      ]
    },
    {
      "type": "form",
      "limit": 1,
      "name": "t:section.main-login.blocks.form.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Log In",
          "label": "t:section.main-login.blocks.form.settings.title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:section.main-login.blocks.form.settings.description",
          "default": "<p>Reset your password</p>"
        }
      ]
    }
  ]
}
{% endschema %}
