{% style %}
  .text_logo{
    font-size: {{ section.settings.logo_font_size }}px !important;
  }
  .password-header{
    background: {{ section.settings.background_color }};
  }
  .modal__toggle{
    -webkit-text-decoration-color: {{ section.settings.content_color }};
    text-decoration-color: {{ section.settings.content_color }};
  }
  @media only screen and (max-width: 767px){
    .text_logo{
      font-size: {{ section.settings.logo_font_size | divided_by: 2 }}px !important;
    }
  }
{% endstyle %}

<div class=" w-full absolute top-0 left-0 z-30 md:px-10 px-5 py-5 password-header">
  <div class="flex items-center justify-between gap-4">
    {%- if settings.logo_header != blank -%}
      {{
        settings.logo_header
        | image_url: width: 500
        | image_tag:
          class: 'md:max-w-[320px] max-w-[120px]',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          width: 320,
          height: 400,
          alt: 'main-logo'
      }}
    {%- else -%}
      <h1 class="text_logo">{{ shop.name }}</h1>
    {%- endif -%}

    <password-modal>
      <details class="password-modal z-20">
        <summary class="modal__toggle block cursor-pointer hover:underline" aria-haspopup="dialog">
          <div class="flex items-center md:gap-3 gap-2 md:text-base text-sm " style="color: {{ section.settings.content_color }};">
            {% render 'icon-lock', class: 'w-4' %}
            Enter using password
          </div>
          <div class="modal__toggle-close hidden" aria-hidden="true">
            {% render 'icon-close' %}
          </div>
        </summary>
        <div class="modalContent z-20 fixed top-0 left-0 w-full h-full flex justify-center items-center bg-[#00000070] lg:px-5"  role="dialog" aria-labelledby="DialogHeading" aria-modal="true">
          <div class="password-text-box lg:min-w-[600px] min-w-full lg:h-auto h-full lg:p-20 md:p-10 p-5 relative bg-white lg:rounded-xl flex flex-col justify-center" tabindex="-1">
            <button type="button" class="modalCloseBtn w-11 h-11 flex items-center justify-center absolute md:top-5 top-2 md:right-5 right-2" aria-label="accessibility.close">
              {% render 'icon-close' %}
            </button>
            <h3 class="max-w-[680px]" id="DialogHeading">Enter store using password:</h3>
            <p class="lg:mb-10 mb-5">Be the first to know when we launch.</p>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field field lg:mb-10 mb-5{% if form.errors %} password-field--error{% endif %}">
                <label class="mb-2" for="login_form_password_label">Password</label>
                <input
                  type="password"
                  name="password"
                  id="Password"
                  class="border w-full "
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="Password"
                >
                {%- if form.errors -%}
                  <div id="PasswordLoginForm-password-error" role="status">
                    <span class="visually-hidden text-red-500">accessibility error</span>
                    <span class="form__message text-red-500"> login form error or incorrect password</span>
                  </div>
                {%- endif -%}
              </div>
              {% render 'btn-primary', type: 'submit', src: 'Submit' class: 'w-full' %}
            {%- endform -%}
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>

{% schema %}
{
  "name": "Password header",
  "settings": [
    {
      "type": "header",
      "content": "Logo header"
    },
    {
      "type": "paragraph",
      "content": "Header Settings"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content Color",
      "default": "#fff"
    }
  ]
}
{% endschema %}


<script defer>
const passwordModal = (button , modal) =>{
    let html = document.querySelector('html');
    let details = document.querySelector(modal);
      document.querySelector(button).addEventListener('click', (e)=> {
        details.open ? details.open = false: details.open = true;
      });
      window.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
          details.open = false;
        }
       })
  }
passwordModal('.modalCloseBtn', '.password-modal');



</script>