{% style %}
  .collection_card_main {
    height: {{ section.settings.cards_height }}px;
  }

  @media only screen and (max-width: 980px) {
    .collection_card_main {
      height: 400px;
    }
  }

  .card {
    transform-origin: center;
    transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  }
{% endstyle %}
{% if card_collection != blank %}
  <div class="relative collection_card_content collection_card_inner">
    <figure class="relative h-full collection_card_main overflow-hidden">
      {% if image != blank %}
        <a href="{{ card_collection.url }}" rel="nofollow">
          {{- image | image_url: width: 500 | image_tag: class: 'h-full w-full object-cover  hover:scale-110 card' -}}
        </a>
      {% else %}
        <a href="{{ card_collection.url }}" rel="nofollow">
          {{
            card_collection.image
            | image_url: width: 1500
            | image_tag:
              loading: 'lazy',
              sizes: 'auto',
              widths: '165, 360, 535, 750, 1070, 1500',
              class: 'h-full w-full object-cover  hover:scale-110 card'
          }}
        </a>
      {% endif %}
    </figure>
    <div
      class="mt-5 flex flex-col gap-1"
    >
      <h3 class="font-semibold !text-[1.125rem] body-font">{{ card_collection.title | escape }}</h3>
      <p class="">{{ card_collection.description | truncatewords: 15 }}</p>
      <a class="inline-block hover:underline w-fit" href="{{ card_collection.url }}" rel="nofollow">
        <p class="flex justify-center items-center gap-2 font-semibold">
          Shop Now <span> {% render 'icon-chevron-right', class: 'brightness-0 h-3' %} </span>
        </p>
      </a>
    </div>
  </div>
{% else %}
  <div class="relative collection_card_content collection_card_inner">
    <figure class="relative h-full collection_card_main overflow-hidden flex items-center bg-[#ccc]">
      <a href="#" rel="nofollow" class="w-full">
        {{ 'collection-1' | placeholder_svg_tag: 'w-full' }}
      </a>
    </figure>
    <div
      class="mt-5 flex flex-col gap-1"
    >
      <h3 class="font-semibold !text-[1.125rem] body-font">{{ 'card-collection.sample_title' | t }}</h3>
      <p class="">{{ 'card-collection.sample_description' | t }}</p>
      <a class="inline-block hover:underline w-fit" href="{{ card_collection.url }}" rel="nofollow">
        <p class="flex justify-center items-center gap-2 font-semibold">
          Shop Now <span> {% render 'icon-chevron-right', class: 'brightness-0 h-3' %} </span>
        </p>
      </a>
    </div>
  </div>
{% endif %}
