{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media screen and (max-width: 980px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  }
{%- endstyle -%}

<section class="customer reset-password section-{{ section.id }}-padding header_sticky_section">
  <div class="reset_div">
    <div>
      <figure>
        {% if section.settings.image != blank %}
          {{ section.settings.image | image_url: width: 1000 | image_tag }}
        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag }}
        {% endif %}
      </figure>
    </div>
    <div class="content_reset">
      <h2 class="h3">
        {{ 'customer.reset_password.title' | t }}
      </h2>
      <p>
        {{ 'customer.reset_password.subtext' | t }}
      </p>
      {%- form 'reset_customer_password' -%}
        {%- if form.errors -%}
          <h2 class="form__message" tabindex="-1" autofocus>
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            <svg aria-hidden="true" focusable="false">
              <use href="#icon-error" />
            </svg>
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
          <ul>
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

        <div class="field">
          <label for="password">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="password-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password' | t }}"
          >
          {%- if form.errors contains 'password' -%}
            <small id="password-error" class="form__message">
              <svg aria-hidden="true" focusable="false">
                <use href="#icon-error" />
              </svg>
              {{ form.errors.translated_fields.password | capitalize }}
              {{ form.errors.messages.password }}
            </small>
          {%- endif -%}
        </div>

        <div class="field">
          <label for="password_confirmation">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation"
            autocomplete="new-password"
            {% if form.errors contains 'password_confirmation' %}
              aria-invalid="true"
              aria-describedby="password_confirmation-error"
            {% endif %}
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          >
          {%- if form.errors contains 'password_confirmation' -%}
            <small id="password_confirmation-error" class="form__message">
              <svg aria-hidden="true" focusable="false">
                <use href="#icon-error" />
              </svg>
              {{ form.errors.translated_fields.password_confirmation | capitalize }}
              {{ form.errors.messages.password_confirmation }}
            </small>
          {%- endif -%}
        </div>

        <button type="submit" class="button button--primary">
          {{ 'customer.reset_password.submit' | t }}
        </button>
      {%- endform -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Featured image"
    }
  ]
}
{% endschema %}
