{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'journal-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-margin {
    margin-top : {{ section.settings.section_margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.section_margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.section_margin_top }}px;
      margin-bottom: {{ section.settings.section_margin_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="journal-banner-section container section-{{ section.id }}-margin ">
  <div class="main-banner">
    <div class="main-banner-div">
      {% if blog.articles.size > 0 %}
        {% paginate blog.articles by section.settings.number_of_blog_per_page %}
          {% if paginate.current_page == 1 %}
            <div class="news-header-div">
              <h3 class="news-title {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
                {% if section.settings.blogHeading != blank %} {{ section.settings.blogHeading }} {% endif %}
              </h3>
              <p class="news-sub-title">
                {% if section.settings.blogSubHead != blank %} {{ section.settings.blogSubHead }} {% endif %}
              </p>
            </div>
          {% endif %}

          <div class="journal-banner ul">
            {%- for article in blog.articles -%}
              {% if forloop.index == 1 and paginate.current_page == 1 %}
                <div
                  class="journal-banner-div {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <span class="journal-banner-gradient gradient-left"></span>
                  <span class="journal-banner-gradient gradient-right"></span>
                  {%- render 'article-card',
                    article: article,
                    media_height: section.settings.image_height,
                    media_aspect_ratio: article.image.aspect_ratio,
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: true,
                    class: 'article-bg',
                    section: section
                  -%}
                </div>
                <span class="hr-line"></span>
                <div class="related-task-heading">
                  <h4>
                    {% if section.settings.all_journal_text != blank %}
                      {{ section.settings.all_journal_text }}
                    {% endif %}
                  </h4>
                </div>
              {% else %}
                <div class="journal-banner-grid">
                  {%- render 'article-card',
                    article: article,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    class: 'article-card'
                  %}
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="pagination-div ">
            {% render 'pagination', paginate: paginate %}
          </div>
        {% endpaginate %}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "settings": [
    {
      "type": "range",
      "id": "section_margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "section margin top",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "section margin bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "blogHeading",
      "label": "blog heading"
    },
    {
      "type": "text",
      "id": "blogSubHead",
      "label": "blog sub heading"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "banner background image"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "text",
      "id": "all_journal_text",
      "label": "View all journal"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "color",
      "id": "card_bg",
      "label": "t:section.main-blog.settings.card_bg",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "card_text",
      "label": "t:section.main-blog.settings.card_text",
      "default": "#3A3A3A"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "number_of_blog_per_page",
      "step": 1,
      "min": 3,
      "max": 12,
      "label": "Number of blog per page",
      "default": 3
    },
    {
      "id": "link",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "linktext",
      "type": "text",
      "label": "Button text",
      "default": "Click Here"
    }
  ]
}
{% endschema %}
