{{ 'section-product-info-grid.css' | asset_url | stylesheet_tag }}
{% style %}
  #{{ section.id }}{
    margin-top:{{ section.settings.margin_top }}px;
    margin-bottom:{{ section.settings.margin_bottom }}px;
    background-color:{{ section.settings.bg_color }};
  }

  #{{ section.id }} *{
    color:{{ section.settings.content_color }};
  }

  @media screen and (max-width:980px){
    #{{ section.id }}{
    margin-top:{{ section.settings.margin_top | divided_by: 2 }}px;
    margin-bottom:{{ section.settings.margin_bottom | divided_by: 2 }}px;
  }
  }
{% endstyle %}
{% if product.collections[0].metafields.custom.features.value != blank %}
  <section id="{{ section.id }}" class="product_info_grid">
    <div class="info_wrapper container">
      {% for metaobject in product.collections[0].metafields.custom.features.value %}
        <div class="icon_item">
          {{ metaobject.image | image_url: width: 100 | image_tag }}
          <p>
            {{ metaobject.name }}
          </p>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Product info grid",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin top",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "default": 0
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#0F172A"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
