{{ 'related-article.css' | asset_url | stylesheet_tag }}
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{% style %}
  .related{{ section.id }}{
     margin-top: {{ section.settings.section_margin_top }}px;
     margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  @media only and (max-width: 1024px){
      .related{{ section.id }}{
        margin-top: {{ section.settings.section_margin_top | divided_by:  2 }}px;
        margin-bottom: {{ section.settings.section_margin_bottom | divided_by: 2 }}px;
      }
  }
{% endstyle %}
<section class="related{{ section.id }}">
  {% assign current_article_tags = article.tags %}
  {% assign related_articles = blog.articles | where: 'tags', current_article_tags %}

  {% if related_articles.size > 0 %}
    <div class="related-articles container">
      <h3 class="heading">Related Articles</h3>
      <div class="swiper related-slide-article relatedSlide wrapper-gradient">
        <div class="swiper-wrapper ">
          {% for article in related_articles limit: section.settings.blog_limit %}
            <div class="swiper-slide swiper-slide-card {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {%- render 'article-card',
                article: article,
                blog: section.settings.blog,
                media_height: section.settings.image_height,
                media_aspect_ratio: 1.66,
                show_image: section.settings.show_image,
                show_date: section.settings.show_date,
                show_author: section.settings.show_author,
                show_excerpt: true,
                class: 'article-card',
                section: section
              -%}
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next">
          {% render 'icon-swiper-button' %}
        </div>
        <div class="swiper-button-prev">
          {% render 'icon-swiper-button' %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  {% endif %}
</section>
{% schema %}
{
  "name": "Related article",
  "settings": [
    {
      "type": "range",
      "id": "section_margin_top",
      "label": "Number of related articles to show",
      "max": 100,
      "min": 0,
      "step": 10,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_margin_bottom",
      "label": "Number of related articles to show",
      "max": 100,
      "min": 0,
      "step": 10,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "blog_limit",
      "label": "Number of related articles to show",
      "max": 10,
      "min": 1,
      "step": 1,
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.featured-blog.settings.show_date.label"
    }
  ]
}
{% endschema %}
<script src="/assets/swiper-bundle.min.js" defer></script>
{% javascript %}
  const relatedSlide = new Swiper('.relatedSlide', {
    slidesPerView: 1,
    spaceBetween: 10,
    speed: 1000,
    autoplay: {
      enabled: true,
      disableOnInteraction: true,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      320: {
        slidesPerView: 1,
        spaceBetween: 16,
      },
      640: {
        slidesPerView: 1.5,
        spaceBetween: 16,
      },
      768: {
        slidesPerView: 1.8,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 2,
      },
      1366: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
    },
  });
{% endjavascript %}
