{{ 'swiper-js.css' | asset_url | stylesheet_tag }}
{{ 'task-showcase.css' | asset_url | stylesheet_tag }}
<section class="task-showcase-section">
  <div class="container">
    <h3 class="heading {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      Task Showcase
    </h3>
  </div>
  <div>
    <div class="swiper taskShowCaseSlider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'slide' %}
              <div class="swiper-slide {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                <div class="task-image">
                  <a href="{{ block.settings.product.url }}" rel="nofollow">
                    <figure class="img-box">
                      {% if block.settings.image %}
                        {{
                          block.settings.image
                          | image_url: width: 850
                          | image_tag:
                            loading: 'lazy',
                            sizes: '850',
                            widths: '320, 360, 535, 850, 1070',
                            class: 'task-showcase-image'
                        }}
                      {% else %}
                        {{ 'product-1' | placeholder_svg_tag }}
                      {% endif %}
                    </figure>
                  </a>
                </div>
                <div class="showcase-body">
                  {% if block.settings.product.title != blank %}
                    <a href="{{ block.settings.product.url }}" rel="nofollow">
                      <h5 class="sub-heading">{{ block.settings.product.title }}</h5>
                    </a>
                  {% endif %}
                  {% if block.settings.product.description != blank %}
                    <span class="body-text">{{ block.settings.product.description | truncatewords: 15 }}</span>
                  {% endif %}
                </div>
              </div>
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">{% render 'icon-swiper-button' %}</div>
      <div class="swiper-button-next">{% render 'icon-swiper-button' %}</div>
    </div>
    <a href="{% if section.settings.button_url != blank %} {{ section.settings.button_url }} {% else %} {{ routes.all_products_collection_url }} {% endif %}" class="button button_primary">
      {%- render 'button-primary', text: section.settings.button_text -%}
    </a>
  </div>
</section>
{% schema %}
{
  "name": "Task showcase",
  "settings": [
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "EXPLORE ALL TASK"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "name": "Slide show",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Featured product"
        }
      ]
    }
  ]
}
{% endschema %}
<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
{% javascript %}
  const taskShowCaseSlider = new Swiper('.taskShowCaseSlider', {
    slidesPerView: 1,
    spaceBetween: 10,
    speed: 1000,
    autoplay: {
      enabled: true,
      disableOnInteraction: true,
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      320: {
        slidesPerView: 1.2,
        spaceBetween: 16,
      },
      768: {
        slidesPerView: 1.8,
        spaceBetween: 20,
      },
      1024: {
        slidesPerView: 2.2,
      },
      1366: {
        slidesPerView: 2.6,
        spaceBetween: 40,
      },
    },
  });
{% endjavascript %}
