{% style %}
   .active {
     opacity: 1;
     z-index: 99;
   }
   .video_active {
     z-index: 99;
     opacity: 1 !important;
   }
   .hover-play-button:hover {
     box-shadow: 0 0 1px 24px #ffffff10;
   }
   .hover-play-button:hover .play-button {
     box-shadow: 0 0 1px 12px #ffffff25;
   }
   #{{ section.id }}{
      margin-bottom: {{ section.settings.margin_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
   }
   #{{ section.id }} .video-content{
    align-items: {% case section.settings.content_align %}{% when "left" %}flex-start{% when "center" %}center{% when "right" %}flex-end{% else %}{% endcase %};
    justify-content:{% if section.blocks == blank %}{% case section.settings.play_position %}{% when "top" %}flex-start{% when "center" %}center{% when "bottom" %}flex-end{% else %}center{% endcase %}{% else %}center{% endif %};
   }

   @media only screen and (max-width: 1280px) {
    .banner-height {
      height: 600px !important;
    }
   }
  @media screen and (max-width:1024px){
    #{{ section.id }}{
      margin-bottom:{{ section.settings.margin_bottom | divided_by: 2 }}px;
      margin-top:{{ section.settings.margin_top | divided_by: 2 }}px;
    }
  }
  @media screen and (max-width:980px){
   #{{ section.id }} .video-content{
     align-items:center;
     justify-content:center;
   }
  }
   @media only screen and (max-width: 768px) {
     .banner-height {
       height: 500px !important;
     }
   }
   @media only screen and (max-width: 640px) {
     .banner-height {
       height: 400px !important;
     }
   }
{% endstyle %}

<section id="{{ section.id }}">
  <div class="flex justify-center relative overflow-hidden banner-height">
    <div class="z-50 absolute flex flex-col h-full w-full">
      <div class="{% if settings.container == 'boxed' %}container{% else %}container-fluid{% endif %} mx-auto relative z-50 h-full">
        <div class="z-20 text-center relative flex flex-col h-full content video-content">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'banner_title' %}
                <div
                  {{ block.shopify_attributes }}
                  class="flex flex-col"
                  style="align-items: {% case section.settings.content_align %}{% when "left" %}flex-start{% when "center" %}center{% when "right" %}flex-end{% else %}{% endcase %};"
                >
                  {% if block.settings.text_img != blank %}
                    <span class="block -mb-[1rem] lg:-mb-[3rem] w-fit">
                      {{
                        block.settings.text_img
                        | image_url: width: 1500
                        | image_tag:
                          alt: section.settings.background_image,
                          loading: 'lazy',
                          widths: '50,100,165, 360, 535, 750, 1070, 1500',
                          class: 'object-contain max-h-[160px] w-fit '
                      }}
                    </span>
                  {% endif %}
                  <h2
                    class="font-semibold relative leading-none !text-[3.5rem] md:!text-[4.5rem] lg:!text-[10.625rem]"
                    style="color:{{ block.settings.banner_heading_color }};"
                  >
                    {% if block.settings.banner_heading != blank %}
                      {{ block.settings.banner_heading }}
                    {% else %}
                      {{ 'image-banner.banner_title' | t }}
                    {% endif %}
                  </h2>
                </div>
              {% when 'banner_para' %}
                <p
                  {{ block.shopify_attributes -}}
                  class="font-medium"
                  style="color: {{ block.settings.banner_paragraph_color }}"
                >
                  {% if block.settings.banner_paragraph != blank %}
                    {{ block.settings.banner_paragraph }}
                  {% else %}
                    {{ 'image-banner.banner_para' | t }}
                  {% endif %}
                </p>

              {% when 'banner_button' %}
                <a
                  href="{{ block.settings.banner_button_url }}"
                  rel="nofollow"
                  {{ block.shopify_attributes }}
                  class="mt-7"
                >
                  {% render 'btn-primary', src: block.settings.banner_button_text %}
                </a>
              {% else %}

            {% endcase %}
          {% endfor %}
          {% if section.settings.enabled_play_button == true %}
            <div class="flex gap-7 items-center h-fit pt-5 pb-10 lg:pb-[60px]">
              <div class="hover-play-button duration-500 ease-out rounded-full">
                <button class="play play-button w-[92px] h-[92px] duration-300 ease bg-white rounded-full flex justify-center items-center p-[32px] group/play_btn">
                  {% render 'play-button',
                    class: 'translate-x-[5px] group-hover/play_btn:scale-90 ease-in-out duration-150'
                  %}
                </button>
              </div>
              <div>
                <p style="color: {{ section.settings.content-color }};" class="lowercase text-left">
                  {{ section.settings.video_subtitle }}
                </p>
                <h2 style="color: {{ section.settings.content-color }};">
                  {{ 'main-image-video-banner.video_title' | t }}
                </h2>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if section.settings.enabled_play_button == true %}
      <div class="absolute top-0 left-0 w-full h-full z-20 video-container opacity-0">
        {% if section.settings.video != blank %}
          {{
            section.settings.video
            | video_tag: class: 'object-cover h-full w-full', autoplay: true, loop: true, muted: true, controls: false
          }}
        {% else %}
          {% if section.settings.video_url.id != blank %}
            {% if section.settings.video_url.type == 'youtube' %}
              <iframe
                src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?loop=1"
                frameborder="0"
                width="100"
                height="100"
                class="w-full h-full"
                loading="lazy"
              ></iframe>
            {% else %}
              <iframe
                src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}"
                frameborder="0"
                width="100"
                height="100"
                allow="autoplay"
                loading="lazy"
                class="w-full h-full"
              ></iframe>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    {% else %}
      <div class="absolute top-0 left-0 w-full h-full {% if section.settings.video_url.id != blank and section.settings.video == blank %} z-[99] {% elsif section.settings.video != blank %} z-[20] {% endif %}">
        {% if section.settings.enabled_video == true and section.settings.video != blank %}
          {{
            section.settings.video
            | video_tag: class: 'object-cover h-full w-full', autoplay: true, loop: true, muted: true, controls: false
          }}
        {% else %}
          {% if section.settings.enabled_video == true and section.settings.video_url.id != blank %}
            {% if section.settings.video_url.type == 'youtube' %}
              <iframe
                src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?loop=1"
                frameborder="0"
                width="100"
                height="100"
                class="w-full h-full"
                loading="lazy"
              ></iframe>
            {% else %}
              <iframe
                src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}"
                frameborder="0"
                width="100"
                height="100"
                allow="autoplay"
                loading="lazy"
                class="w-full h-full"
              ></iframe>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}
    <div class="relative z-10 w-full h-full">
      {% if section.settings.background_image != blank %}
        {{
          section.settings.background_image
          | image_url: width: 1000
          | image_tag:
            loading: 'lazy',
            sizes: 'auto',
            widths: '165, 360, 535, 750, 1070, 1500',
            class: 'feature-img object-cover w-full h-full'
        }}
      {% else %}
        {{ 'lifestyle-1' | placeholder_svg_tag: 'object-cover w-full h-full' }}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:section.main-image-video-banner.name",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "px",
      "label": "t:section.image-banner.settings.margin_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "px",
      "label": "t:section.image-banner.settings.margin_bottom",
      "default": 40
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:section.image-banner.settings.background_image.label"
    },
    {
      "type": "range",
      "id": "banner_height",
      "step": 10,
      "max": 900,
      "min": 300,
      "label": "t:section.video.settings.banner_height",
      "default": 700
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:section.video.settings.overlay_opacity",
      "step": 1,
      "max": 10,
      "min": 0,
      "default": 4
    },
    {
      "type": "color",
      "id": "overlay_color",
      "default": "#000000",
      "label": "t:section.video.settings.overlay_color"
    },
    {
      "type": "header",
      "content": "t:section.image-banner.settings.header.video"
    },
    {
      "type": "checkbox",
      "id": "enabled_video",
      "label": "t:section.image-banner.settings.enabled_video.label",
      "info": "t:section.image-banner.settings.enabled_video.info"
    },
    {
      "type": "checkbox",
      "id": "enabled_play_button",
      "label": "Enable Play Button"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:section.image-banner.settings.video"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "label": "t:section.video.settings.demo_video",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "select",
      "id": "content_align",
      "options": [
        {
          "value": "left",
          "label": "t:section.image-banner.settings.content_align.options.left"
        },
        {
          "value": "center",
          "label": "t:section.image-banner.settings.content_align.options.center"
        },
        {
          "value": "right",
          "label": "t:section.image-banner.settings.content_align.options.right"
        }
      ],
      "default": "center",
      "label": "t:section.image-banner.settings.content_align.label"
    },
    {
      "type": "header",
      "content": "Play Button"
    },
    {
      "type": "select",
      "id": "play_position",
      "label": "t:section.main-image-video-banner.settings.play_position.label",
      "options": [
        {
          "label": "t:section.main-image-video-banner.settings.play_position.options.top",
          "value": "top"
        },
        {
          "label": "t:section.main-image-video-banner.settings.play_position.options.center",
          "value": "center"
        },
        {
          "label": "t:section.main-image-video-banner.settings.play_position.options.bottom",
          "value": "bottom"
        }
      ]
    },
    {
      "type": "text",
      "id": "video_subtitle",
      "label": "t:section.main-image-video-banner.settings.video_subtitle",
      "default": "Summer Collection"
    },
    {
      "type": "color",
      "id": "content-color",
      "label": "t:section.main-image-video-banner.settings.content-color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "name": "t:section.image-banner.blocks.banner_title.name",
      "type": "banner_title",
      "settings": [
        {
          "type": "text",
          "id": "banner_heading",
          "label": "t:section.image-banner.blocks.banner_title.settings.banner_heading",
          "default": "UNEXPLORED"
        },
        {
          "type": "color",
          "id": "banner_heading_color",
          "label": "t:section.image-banner.blocks.banner_title.settings.banner_heading_color",
          "default": "#FFFFFF"
        },
        {
          "type": "image_picker",
          "id": "text_img",
          "label": "t:section.image-banner.blocks.banner_title.settings.text_img"
        }
      ],
      "limit": 1
    },
    {
      "name": "t:section.image-banner.blocks.banner_para.name",
      "type": "banner_para",
      "settings": [
        {
          "type": "textarea",
          "id": "banner_paragraph",
          "label": "t:section.image-banner.blocks.banner_para.settings.banner_paragraph",
          "default": "Triad X4 , Survive the urban"
        },
        {
          "type": "color",
          "id": "banner_paragraph_color",
          "label": "t:section.image-banner.blocks.banner_para.settings.banner_paragraph_color",
          "default": "#FFFFFF"
        }
      ],
      "limit": 2
    },
    {
      "name": "t:section.image-banner.blocks.banner_button.name",
      "type": "banner_button",
      "settings": [
        {
          "type": "text",
          "id": "banner_button_text",
          "label": "t:section.image-banner.blocks.banner_button.settings.banner_button_text",
          "default": "Explore Collection"
        },
        {
          "type": "url",
          "id": "banner_button_url",
          "label": "t:section.image-banner.blocks.banner_button.settings.banner_button_url"
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Video",
      "settings": {
        "background_image": "shopify:\/\/shop_images\/video_bg_image.jpg",
        "banner_height": 500,
        "overlay_opacity": 4,
        "overlay_color": "#000000",
        "enabled_video": false,
        "enabled_play_button": false,
        "video": "",
        "video_url": "",
        "content_align": "center",
        "play_position": "center",
        "video_subtitle": "summer collection",
        "content-color": "#ffffff"
      }
    }
  ]
}
{% endschema %}

{% javascript %}
  let playButton = document.querySelector('.play-button');
  let videoContainer = document.querySelector('.video-container');
  let bannerContent = document.querySelector('.content');
  if (playButton) {
    playButton.addEventListener('click', myFunction);
  }

  function myFunction() {
    videoContainer.classList.add('video_active');
    videoContainer.play();
  }
{% endjavascript %}
