{% style %}
  .card{
      height:calc(10px * {{ section.settings.cards_height }});
  }
  @media only screen and (max-width:767px){
      .card{
          height: auto;
      }
  }
  .card-overlay{
    background-color:{{ section.settings.overlay_color }}{{ section.settings.overlay_opacity }};
  }
  @media screen and (max-width:980px) {
    #main-list-collection{
      margin-top: {{ section.settings.section_margin_top | divided_by: 2 }}px !important;
      margin-bottom: {{ section.settings.section_margin_bottom | divided_by: 2 }}px !important;
      }
  }
{% endstyle %}

<section
  id="main-list-collection"
  class="list_collection w-full"
  style="margin-top:{{ section.settings.section_margin_top }}px; margin-bottom:{{ section.settings.section_margin_bottom }}px;"
>
  <div class="{% if settings.container == 'boxed' %} container {% else %} container-fluid {% endif %} mx-auto">
    <h2 class="leading-none mb-8 sm:text-left text-center">
      {{ section.settings.heading }}
    </h2>
    {%- liquid
      case section.settings.sort
        when 'products_high', 'products_low'
          assign collections = collections | sort: 'all_products_count'
        when 'date', 'date_reversed'
          assign collections = collections | sort: 'published_at'
      endcase

      if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
        assign collections = collections | reverse
      endif
    -%}
    {% if collections.size > 0 %}
      {%- paginate collections by section.settings.number_of_items -%}
        <ul
          class="collection-list grid grid-cols-12 gap-5"
          role="list"
        >
          {%- for collection in collections -%}
            {% case section.settings.cards_to_show -%}
              {%- when 1 -%}
                {% assign bannerNum = forloop.index | modulo: 2 %}
              {%- when 2 -%}
                {% assign bannerNum = forloop.index | modulo: 3 %}
              {%- when 3 -%}
                {% assign bannerNum = forloop.index | modulo: 4 %}
              {%- when 4 -%}
                {% assign bannerNum = forloop.index | modulo: 5 %}
              {% else %}
            {%- endcase %}

            {% if section.settings.enable_banner == true %}
              {% if bannerNum == 0 %}
                <li
                  class="col-span-12"
                >
                  {% render 'card-collection2', card_collection: collection, section: section, card_bg: true %}
                </li>
              {% else %}
                <li class="col-span-12 md:col-span-6 {% case section.settings.cards_to_show %}{% when 1 %}lg:col-span-12{% when 2 %}lg:col-span-6{% when 3 %}lg:col-span-4{% when 4 %}lg:col-span-3{% else %}{% endcase %}">
                  {% case settings.collection_card_style %}
                    {% when 'style-1' %}
                      {% render 'card-collection', card_collection: collection, section: section %}

                    {% when 'style-2' %}
                      {% render 'card-collection2', card_collection: collection, section: section %}

                    {% else %}

                  {% endcase %}
                </li>
              {% endif %}
            {% else %}
              <li class="col-span-12 md:col-span-6 {% case section.settings.cards_to_show %}{% when 1 %}lg:col-span-12{% when 2 %}lg:col-span-6{% when 3 %}lg:col-span-4{% when 4 %}lg:col-span-3{% else %}{% endcase %}">
                {% case settings.collection_card_style %}
                  {% when 'style-1' %}
                    {% render 'card-collection', card_collection: collection, section: section %}

                  {% when 'style-2' %}
                    {% render 'card-collection2', card_collection: collection, section: section %}

                  {% else %}

                {% endcase %}
              </li>
            {% endif %}
          {%- endfor -%}
        </ul>
        {% render 'pagination', pagination: paginate %}
      {%- endpaginate -%}
    {% else %}
      <h3>{{ 'main-list-collections.no_items' | t }}</h3>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "t:section.main-list-collections.name",
  "settings": [
    {
      "type": "range",
      "id": "section_margin_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:section.main-list-collections.settings.section_margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:section.main-list-collections.settings.section_margin_bottom",
      "default": 0
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:section.main-list-collections.settings.heading.label",
      "default": "Collection List",
      "placeholder": "t:section.main-list-collections.settings.heading.placeholder"
    },
    {
      "type": "checkbox",
      "id": "enable_banner",
      "label": "Enable Collection Banner",
      "default": true
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:section.main-list-collections.settings.sort.options.alphabetical"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:section.main-list-collections.settings.sort.options.alphabetical_reversed"
        },
        {
          "value": "date_reversed",
          "label": "t:section.main-list-collections.settings.sort.options.date_reversed"
        },
        {
          "value": "date",
          "label": "t:section.main-list-collections.settings.sort.options.date"
        },
        {
          "value": "products_high",
          "label": "t:section.main-list-collections.settings.sort.options.products_high"
        },
        {
          "value": "products_low",
          "label": "t:section.main-list-collections.settings.sort.options.products_low"
        }
      ],
      "default": "alphabetical",
      "label": "t:section.main-list-collections.settings.sort.label"
    },
    {
      "type": "range",
      "id": "cards_height",
      "label": "t:section.main-list-collections.settings.cards_height",
      "max": 700,
      "min": 400,
      "step": 50,
      "default": 450
    },
    {
      "type": "color",
      "id": "button_color",
      "default": "#fff",
      "label": "t:section.main-list-collections.settings.button_color"
    },
    {
      "type": "range",
      "id": "image_position",
      "default": 70,
      "max": 100,
      "min": 0,
      "step": 1,
      "unit": "%",
      "label": "t:section.main-list-collections.settings.image_position"
    },
    {
      "type": "header",
      "content": "t:section.main-list-collections.settings.header.grid"
    },
    {
      "type": "range",
      "id": "cards_to_show",
      "label": "t:section.main-list-collections.settings.cards_to_show",
      "max": 4,
      "min": 1,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "number_of_items",
      "min": 4,
      "max": 12,
      "label": "t:section.main-list-collections.settings.number_of_items",
      "step": 1,
      "default": 9
    }
  ],
  "presets": [
    {
      "name": "t:section.main-list-collections.presets.name",
      "settings": {
        "section_margin_top": 60,
        "section_margin_bottom": 40,
        "heading": "Collection List",
        "sort": "alphabetical",
        "cards_height": 450,
        "image_position": 70,
        "cards_to_show": 3,
        "number_of_items": 9
      }
    }
  ]
}
{% endschema %}
