{% style %}
  @media screen and (max-width:980px) {
    #main-collection-card{
      margin-top: {{ section.settings.margin_top | divided_by: 2 }}px !important;
      margin-bottom: {{ section.settings.margin_bottom | divided_by: 2 }}px !important;
      }
  }
{% endstyle %}

<section
  id="main-collection-card"
  style="margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;"
>
  <div class="{% if settings.container == 'boxed' %}container{% else %}container-fluid{% endif %} mx-auto">
    {% if section.settings.title != blank %}
      <h2 class="lg:mb-10 mb-5">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="swiper collectionCardSwiper" data-count="{{ section.settings.cards_to_show }}">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'card' %}
              <div
                class="swiper-slide {% if forloop.length > section.settings.cards_to_show %}{% endif %}"
                {{ block.shopify_attributes }}
                data-handle="{{ block.settings.collection.handle }}"
              >
                {% if section.settings.section_card == true %}
                  {%
                    render 'card-collection3',
                    card_collection: block.settings.collection,
                    section: section,
                    block: block,
                    image: block.settings.featured_image,
                  %}
                {% else %}
                  {% case settings.collection_card_style %}
                    {% when 'style-1' %}
                      {% render 'card-collection',
                        card_collection: block.settings.collection,
                        section: section,
                        block: block
                      %}

                    {% when 'style-2' %}
                      {% render 'card-collection2',
                        card_collection: block.settings.collection,
                        section: section,
                        block: block
                      %}

                    {% else %}

                  {% endcase %}
                {% endif %}
              </div>
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
      {% if section.settings.slider_arrows == true %}
        <div
          class="swiper-button-prev !left-5"
          style="{% if section.settings.section_card == true %}top:35%;{% else %}top:45%;{% endif %}"
        >
          {% render 'btn-swiper', class: 'rotate-180' %}
        </div>
        <div
          class="swiper-button-next !right-5"
          style="{% if section.settings.section_card == true %}top:35%;{% else %}top:45%;{% endif %}"
        >
          {% render 'btn-swiper' %}
        </div>
      {% endif %}
      <div class="swiper-pagination !relative md:mt-20 mt-10"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:section.main-collection-card.name",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:section.main-collection-card.settings.margin_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:section.main-collection-card.settings.margin_bottom",
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Collection Title",
      "default": "Our Collection"
    },
    {
      "type": "range",
      "id": "cards_height",
      "label": "t:section.main-collection-card.settings.cards_height",
      "max": 600,
      "min": 400,
      "step": 50,
      "default": 450
    },
    {
      "type": "color",
      "id": "overlay_color",
      "default": "#000",
      "label": "t:section.main-collection-card.settings.overlay_color"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "default": 4,
      "max": 10,
      "min": 0,
      "step": 1,
      "label": "t:section.main-collection-card.settings.overlay_opacity"
    },
    {
      "type": "header",
      "content": "t:section.main-collection-card.settings.header.swiper"
    },
    {
      "type": "range",
      "id": "cards_to_show",
      "label": "t:section.main-collection-card.settings.cards_to_show",
      "max": 4,
      "min": 1,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "slider_arrows",
      "label": "t:section.main-collection-card.settings.slider_arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "section_card",
      "label": "t:section.main-collection-card.settings.section_card",
      "default": false
    }
  ],
  "blocks": [
    {
      "name": "t:section.main-collection-card.blocks.card.name",
      "type": "card",
      "limit": 8,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:section.main-collection-card.blocks.card.settings.collection"
        },
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Card Featured Image"
        },
        {
          "type": "range",
          "id": "image_position",
          "label": "Image Position",
          "max": 100,
          "min": 0,
          "step": 10,
          "unit": "px",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:section.main-collection-card.presets.name",
      "settings": {
        "margin_top": 80,
        "margin_bottom": 0,
        "cards_height": 450,
        "overlay_color": "#000000",
        "overlay_opacity": 0,
        "cards_to_show": 4,
        "slider_arrows": true
      },
      "blocks": [
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        },
        {
          "type": "card"
        }
      ]
    }
  ]
}
{% endschema %}

{% javascript %}
  var swiper = new Swiper('.collectionCardSwiper', {
    slidesPerView: document.querySelector('.collectionCardSwiper').getAttribute('data-count'),
    spaceBetween: 20,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
        spaceBetween: 20,
      },
      767: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      1280: {
        slidesPerView: document.querySelector('.collectionCardSwiper').getAttribute('data-count'),
        spaceBetween: 20,
      },
    },
  });
{% endjavascript %}
