{% style %}
  .reset-password-container {
    background-color: var(--body-background);
  }
{% endstyle %}

<section class="main-login relative mx-auto w-full">
  <div class="{% if settings.container == 'boxed' %}container{% else %}container-fluid{% endif %} mx-auto">
    <div class="w-full flex lg:flex-row flex-col-reverse justify-around items-center">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'image' %}
            <div class="w-full lg:w-1/2 mt-[40px]">
              <div>
                {% if block.settings.form_image %}
                  {{
                    block.settings.form_image
                    | image_url: width: 1500
                    | image_tag:
                      loading: 'lazy',
                      sizes: '100',
                      widths: '165, 360, 535, 750, 1070, 1500',
                      class: 'object-contain w-full lg:h-[700px] md:h-[400px] h-[320px]'
                  }}
                {% else %}
                  {{
                    'lifestyle-1'
                    | placeholder_svg_tag: 'object-cover w-full lg:h-[700px] md:h-[400px] h-[320px] bg-[#ccc]'
                  }}
                {% endif %}
              </div>
            </div>
          {% when 'form' %}
            <div class="w-full lg:w-1/2">
              <h3>{{ block.settings.title }}</h3>
              <span>
                {{ block.settings.description }}
              </span>

              {%- form 'reset_customer_password', class: 'flex flex-col gap-[20px] max-w-lg mt-[20px]' -%}
                {{ form.errors | default_errors }}

                <div class="field">
                  <label for="password" class="hidden">{{ 'main-reset-password.password' | t }}</label>
                  <input
                    type="password"
                    name="customer[password]"
                    id="password"
                    class="rounded-[5px]"
                    placeholder="{{ 'main-reset-password.password' | t }}"
                  >
                </div>

                <div class="field">
                  <label for="password_confirmation" class="hidden">{{ 'main-reset-password.confirm_pw' | t }}</label>
                  <input
                    type="password"
                    name="customer[password_confirmation]"
                    id="password_confirmation"
                    class="rounded-[5px]"
                    placeholder="{{ 'main-reset-password.confirm_pw' | t }}"
                  >
                </div>

                {% render 'btn-primary', src: 'Reset Password', class: 'w-full sm:w-fit mt-[20px]', type: 'submit' %}
              {%- endform -%}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:section.main-login.name",
  "class": "section",
  "blocks": [
    {
      "type": "image",
      "limit": 1,
      "name": "t:section.main-login.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "form_image",
          "label": "t:section.main-login.blocks.image.settings.form_image"
        }
      ]
    },
    {
      "type": "form",
      "limit": 1,
      "name": "t:section.main-login.blocks.form.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Log In",
          "label": "t:section.main-login.blocks.form.settings.title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:section.main-login.blocks.form.settings.description",
          "default": "<p>Reset your password</p>"
        }
      ]
    }
  ]
}
{% endschema %}
