{% style %}
  @media screen and (max-width:980px){
     #main-password{
      margin-top: {{ section.settings.margin_top | divided_by: 2 }}px !important;
      margin-bottom: {{ section.settings.margin_bottom | divided_by: 2 }}px !important;
      }
   }
{% endstyle %}
<section>
  <div
    id="main-password"
    class="{% if settings.container == 'boxed' %} container {% else %} container-fluid {% endif %} mx-auto"
    style="margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;"
  >
  </div>
  <div
    class="h-screen bg-no-repeat bg-cover bg-center flex justify-center items-center"
    style="background-image:url({{ section.settings.bg_main | image_url }});"
  >
    <div class=" flex justify-center">
      <div
        class="sm:px-[80px] px-[40px] py-[70px] sm:my-0 my-[80px] text-center bg-white"
        style="background: {{ section.settings.card_bg }};"
      >
        <h3 class=" tracking-wider sm:leading-none leading-[42px]" style="color:{{ section.settings.text_color }};">
          {{ section.settings.title }}
        </h3>
        <p class=" leading-relaxed mt-[20px] mb-[40px]" style="color:{{ section.settings.text_color }};">
          {{ section.settings.subtext }}
        </p>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}
          <label for="email" class="hidden">{{ 'main-password.email' | t }}</label>
          <input
            class="rounded-sm border border-spacing-2 border-black mb-6 w-full px-4 py-2 placeholder-black "
            type="email"
            id="email"
            placeholder="Email"
          >
          {% render 'btn-primary', src: 'Submit', class: 'w-full' %}
        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:section.main-password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_main",
      "label": "t:section.main-password.settings.bg_main"
    },
    {
      "type": "color_background",
      "id": "card_bg",
      "label": "t:section.main-password.settings.card_bg",
      "default": "linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,1) 100%)"
    },
    {
      "type": "color",
      "id": "text_color",
      "default": "#000",
      "label": "t:section.main-password.settings.text_color"
    },
    {
      "type": "text",
      "default": "Opening Soon",
      "id": "title",
      "label": "t:section.main-password.settings.title"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "t:section.main-password.settings.subtext",
      "default": "Be the first to know when we launch"
    }
  ]
}
{% endschema %}
