{% style %}
  .slide2 .shape {
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }
  .testimonial-shape {
    -webkit-mask-image: url({{ 'vector-comment.png' | asset_url }});
    -webkit-mask-size: 100% 95%;
    mask-image: url({{ 'vector-comment.png' | asset_url }});
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-size: 100% 95%;
  }
  @media screen and (max-width:980px){
     #testimonial{
      margin-top:{{ section.settings.margin_top | divided_by: 2 }}px !important;
      margin-bottom:{{ section.settings.margin_bottom | divided_by: 2 }}px !important;
      }
   }
{% endstyle %}
<section
  id="testimonial"
  class="testimonial_main duration-300 ease-in-out"
  style="margin-bottom: {{ section.settings.margin_bottom }}px; margin-top: {{ section.settings.margin_top }}px;padding:{{ section.settings.padding }}px 0;"
>
  <div
    class="{% if settings.container == 'boxed' %}container{% else %}container-fluid {% endif %} mx-auto relative"
    {% if section.settings.style == 'style2' %}
      style="padding-bottom:60px !important;"
    {% endif %}
  >
    {% if section.settings.style == 'style2' %}
      <h2 class="pb-[30px] relative z-20 md:inline-block text-left ">{{ 'testimonial.title' | t }}</h2>
    {% endif %}
    <div
      class="swiper testimonialSwiper"
      data-count="{% case section.settings.style %}{% when "style1" %}1{% when "style2" %}2{% else %}{% endcase %}"
    >
      {% if section.settings.style == 'style1' %}
        {% if section.settings.featured_image != blank %}
          {{
            section.settings.featured_image
            | image_url: width: 100
            | image_tag: class: 'h-[140px] mx-auto -mb-[8rem] max-w-[400px] w-full', loading: 'lazy'
          }}

        {% else %}
          {{ 'lifestyle-1' | placeholder_svg_tag: 'h-[140px] mx-auto -mb-[6rem]' }}
        {% endif %}
      {% endif %}
      <div class="swiper-wrapper z-40">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'item' %}
              {% case section.settings.style %}
                {% when 'style1' %}
                  <div class="swiper-slide slide1" data-slide="{{ block.settings.item_bg }}">
                    <div class="flex flex-col items-center gap-[15px] py-[80px]">
                      <div class="flex items-center gap-[20px]">
                        {% if block.settings.customer_image != blank %}
                          <figure class="w-[80px] h-[80px] rounded-full overflow-hidden">
                            {{
                              block.settings.customer_image
                              | image_url: width: 100
                              | image_tag: class: 'object-cover', loading: 'lazy'
                            }}
                          </figure>
                        {% else %}

                        {% endif %}
                        <div>
                          <h3
                            class="{% if block.settings.customer_image == blank %} text-center {% endif %}"
                            style="color:{{ block.settings.text_color }};"
                          >
                            {% if block.settings.title != blank %}
                              {{ block.settings.title }}
                            {% else %}
                              {{ 'testimonial.item_title' | t }}
                            {% endif %}
                          </h3>

                          {% if block.settings.rating != blank %}
                            <div
                              class="flex items-center gap-[5px] star-rating"
                              data-star="{{ block.settings.rating }}"
                              style="color:{{ block.settings.text_color }};"
                            >
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}

                              {{- block.settings.rating -}}
                            </div>
                          {% endif %}
                        </div>
                      </div>
                      <span class="max-w-3xl mx-auto text-center" style="color:{{ block.settings.text_color }};">
                        {% if block.settings.text != blank %}
                          {{ block.settings.text }}
                        {% else %}
                          {{ 'testimonial.para' | t }}
                        {% endif %}
                      </span>
                      <div class="flex justify-center items-center" style="color:{{ block.settings.text_color }};">
                        <p>
                          {% if block.settings.customer != blank %}
                            {{ block.settings.customer }}
                          {% else %}
                            {{ 'testimonial.customer' | t }}
                          {% endif %}
                          {% if block.settings.date != blank %}
                            , {{ block.settings.date }}
                          {% else %}
                            , {{ 'testimonial.date' | t }}
                          {% endif %}
                        </p>
                      </div>
                    </div>
                  </div>
                {% when 'style2' %}
                  <div class="swiper-slide slide2">
                    <div
                      class=" flex flex-col xl:flex-row relative slide-inner overflow-hidden"
                      style="background:{{ section.settings.style_two_color }};"
                    >
                      <div class="relative">
                        <figure class="h-full w-full xl:w-[250px] flex items-center justify-center">
                          {% if block.settings.customer_image != blank %}
                            {{
                              block.settings.customer_image
                              | image_url: width: 1500
                              | image_tag:
                                loading: 'lazy',
                                sizes: '100',
                                widths: '165, 360, 535, 750, 1070, 1500',
                                class: 'w-full object-cover h-full xl:max-h-[340px] max-h-[240px]'
                            }}
                          {% else %}
                            {{ 'image' | placeholder_svg_tag: 'w-[80px] scale-[7]' }}
                          {% endif %}
                        </figure>
                      </div>
                      <div class="relative justify-center z-40 flex flex-col p-[20px] gap-5">
                        <div class="relative">
                          <h3
                            class="!text-[1.25rem] lg:!text-[2rem] body-font"
                            style="color:{{ block.settings.text_color }};"
                          >
                            {% if block.settings.title != blank %}
                              {{ block.settings.title }}
                            {% else %}
                              {{ 'testimonial.item_title' | t }}
                            {% endif %}
                          </h3>
                        </div>
                        <div style="color:{{ block.settings.text_color }};">
                          {% if block.settings.text != blank %}
                            {{ block.settings.text | truncatewords: 15 }}
                          {% else %}
                            {{ 'testimonial.para' | t }}
                          {% endif %}
                        </div>
                        <div>
                          {% assign ratings = block.settings.rating %}
                          {% if ratings != blank %}
                            <div
                              class="flex items-center gap-[5px] star-rating"
                              data-star="{{ block.settings.rating }}"
                              style="color:{{ block.settings.text_color }};"
                            >
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                              {% render 'icon-star' %}
                            </div>
                          {% endif %}
                        </div>
                        <div class="flex items-center" style="color:{{ block.settings.text_color }};">
                          <p class="">
                            {% if block.settings.customer != blank %}
                              - {{ block.settings.customer }}
                            {% else %}
                              {{ 'testimonial.customer' | t }}
                            {% endif %}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}

              {% endcase %}
            {% else %}

          {% endcase %}
        {% endfor %}
      </div>
    </div>
    <div class="sliderBtn testimonialNav absolute w-full h-full left-0 top-0 pb-[60px]">
      {% case section.settings.style %}
        {% when 'style1' %}
          <div class="flex items-center xl:justify-between justify-center gap-[20px] absolute bottom-0 w-full px-[15px]">
            <div class="swiper-pagination !relative !w-fit flex-shrink-0 !bottom-auto  xl:block hidden"></div>
            <span class="h-[1px] w-full bg-body-text bg-[#686868] bg-opacity-50 xl:block hidden"></span>
            <div class="flex items-center xl:gap-[20px] gap-[30px] flex-shrink-0">
              <div class="swiper-button-prev !relative !left-auto !right-auto !top-0 !mt-0 !w-fit">
                {% render 'btn-swiper', class: 'rotate-180' %}
              </div>
              <div class="swiper-button-next !relative !left-auto !right-auto !top-0 !mt-0 !w-fit">
                {% render 'btn-swiper' %}
              </div>
            </div>
          </div>

        {% when 'style2' %}
          <div class=" w-full ">
            <div class="swiper-button-prev  !left-[25px] md:!top-[50%] !top-[40%] ">
              {% render 'btn-swiper', class: 'rotate-180' %}
            </div>
            <div class="swiper-button-next !right-[25px] md:!top-[50%] !top-[40%]">{% render 'btn-swiper' %}</div>
          </div>
          <div class="swiper-pagination"></div>

        {% else %}

      {% endcase %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:section.testimonial.name",
  "settings": [
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "px",
      "label": "t:section.testimonial.settings.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "px",
      "label": "t:section.testimonial.settings.margin_bottom",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding",
      "min": 0,
      "max": 80,
      "step": 10,
      "unit": "px",
      "label": "t:section.testimonial.settings.padding",
      "default": 40
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:section.testimonial.settings.style.label",
      "options": [
        {
          "label": "t:section.testimonial.settings.style.options.style1",
          "value": "style1"
        },
        {
          "label": "t:section.testimonial.settings.style.options.style2",
          "value": "style2"
        }
      ],
      "default": "style2"
    },
    {
      "type": "color",
      "id": "style_two_color",
      "label": "t:section.testimonial.settings.style_two_color.label",
      "info": "t:section.testimonial.settings.style_two_color.info",
      "default": "#F2EFEB"
    },
    {
      "type": "image_picker",
      "id": "featured_image",
      "label": "t:section.testimonial.settings.featured_image.label",
      "info": "t:section.testimonial.settings.featured_image.info"
    }
  ],
  "blocks": [
    {
      "name": "t:section.testimonial.blocks.item.name",
      "type": "item",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "customer_image",
          "label": "t:section.testimonial.blocks.item.settings.customer_image"
        },
        {
          "type": "color_background",
          "id": "item_bg",
          "label": "t:section.testimonial.blocks.item.settings.item_bg",
          "default": "linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:section.testimonial.blocks.item.settings.text_color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "rating",
          "label": "t:section.testimonial.blocks.item.settings.rating",
          "default": 4,
          "max": 5,
          "min": 0,
          "step": 1
        },
        {
          "type": "text",
          "id": "title",
          "default": "Loved it!!",
          "label": "t:section.testimonial.blocks.item.settings.title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:section.testimonial.blocks.item.settings.text",
          "default": "<p>Nisl pretium fusce id velit ut tortor pretium. Nunc sed velit dignissim sodales ut eu sem integer. Lacus vestibulum sed arcu non odio euismod lacinia at. Nunc sed velit dignissim</p>"
        },
        {
          "type": "text",
          "id": "customer",
          "label": "t:section.testimonial.blocks.item.settings.customer",
          "default": "William Dafoe"
        },
        {
          "type": "text",
          "id": "date",
          "label": "t:section.testimonial.blocks.item.settings.date",
          "default": "22 Dec,2022"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:section.testimonial.presets.name",
      "settings": {
        "margin_top": 0,
        "margin_bottom": 0,
        "padding": 60,
        "style": "style2",
        "featured_image": "shopify:\/\/shop_images\/testimonial_vector.svg"
      },
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
{% javascript %}
  var testimonialSwiper = new Swiper('.testimonialSwiper', {
    slidesPerView: document.querySelector('.testimonialSwiper').getAttribute('data-count'),
    spaceBetween: 20,
    pagination: {
      el: '.testimonialNav .swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.testimonialNav .swiper-button-next',
      prevEl: '.testimonialNav .swiper-button-prev',
    },
    breakpoints: {
      0: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: document.querySelector('.testimonialSwiper').getAttribute('data-count'),
        spaceBetween: 30,
      },
    },
  });

  let ratingGroup = document.querySelectorAll('.star-rating');
  ratingGroup.forEach((ratingDiv) => {
    let rating = Number(ratingDiv.getAttribute('data-star'));
    let stars = ratingDiv.querySelectorAll('svg');
    for (let i = 0; i < rating; i++) {
      stars[i].classList.add('rating-active');
    }
  });

  let slide1 = document.querySelectorAll('.slide1');
  if (slide1) {
    slide1.forEach((slide) => {
      let sectionBg = slide.closest('.testimonial_main');
      sectionBg.style.background = slide1[0].getAttribute('data-slide');
      testimonialSwiper.on('slideChange', function () {
        let bgColor = slide1[testimonialSwiper.activeIndex].getAttribute('data-slide');
        sectionBg.setAttribute('data-bg', bgColor);
        sectionBg.style.background = bgColor;
      });
    });
  }
{% endjavascript %}
