{{ 'before-after-image.css' | asset_url | stylesheet_tag }}

{% style %}
  .section--{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }

  .compare_slider_content .heading,
  .compare_slider_content .content {
    max-width: 38rem;
  }


  .section--{{ section.id }} .slider .drag-line,
  .section--{{ section.id }} .images{
    height:{{ section.settings.slider_height }}px;
  }
  .section--{{ section.id }} .slider .drag-line:before,
  .section--{{ section.id }} .slider .drag-line:after{
    height:{{ section.settings.slider_height | divided_by: 2 }}px;
  }

  .section--{{ section.id }} .slider .drag-line span{
    background-color:{{ section.settings.accent_1 }};
    border:2px solid {{ section.settings.accent_2 }};
  }
  .section--{{ section.id }} .slider .drag-line:before,
  .section--{{ section.id }} .slider .drag-line:after{
    background-color:{{ section.settings.accent_2 }};
  }

  .section--{{ section.id }} .slider .drag-line span::before,
  .section--{{ section.id }} .slider .drag-line span::after{
    background-image:url('{{ 'chevron-thin.svg' | asset_url }}');
  }

  @media screen and (max-width:980px){
    .section--{{ section.id }}{
    padding-top:{{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom:{{ section.settings.padding_bottom | divided_by: 2 }}px;
  }
  .section--{{ section.id }} .slider .drag-line,
  .section--{{ section.id }} .images{
    height:400px;
  }
  .section--{{ section.id }} .slider .drag-line:before,
  .section--{{ section.id }} .slider .drag-line:after{
    height:200px;
  }
  }

  @media screen and (max-width:540px){
    .section--{{ section.id }} .slider .drag-line,
  .section--{{ section.id }} .images{
    height:300px;
  }
  .section--{{ section.id }} .slider .drag-line:before,
  .section--{{ section.id }} .slider .drag-line:after{
    height:150px;
  }
  }
{% endstyle %}

<!-- image comparison section -->
<section class="compare-slider section--{{ section.id }}" id="beforeAfterImage">
  <div class="page-width">
    <div class="before_after_grid">
      <div class="compare_slider_content">
        <h2 class="heading">{{ section.settings.heading }}</h2>
        <p class="content">{{ section.settings.text }}</p>
      </div>
      <div class="compare_slider_element">
        <div class="images">
          <div
            class="img-one relative"
            style="background-image:url('{{ section.settings.image_1 | image_url }}');"
          >
            <span>
              {{- section.settings.text_1 -}}
            </span>
          </div>
          <div class="img-two" style="background-image:url('{{ section.settings.image_2 | image_url }}');">
            <span>
              {{- section.settings.text_2 -}}
            </span>
          </div>
        </div>
        <div class="slider">
          <div class="drag-line">
            <span></span>
          </div>
          <label for="{{ section.id }}__imageSlide">Slide to reveal image</label>
          <input id="{{ section.id }}__imageSlide" name="image-comparison" type="range" min="0" max="100" value="50">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- image comparison section -->
<script defer>
  const wrapper = document.querySelector('.section--{{ section.id }}');
  const slider = wrapper.querySelector('.slider input');
  const img = wrapper.querySelector('.images .img-two');
  const dragLine = wrapper.querySelector('.slider .drag-line');
  if (slider) {
    slider.oninput = () => {
      let sliderVal = slider.value;
      dragLine.style.left = sliderVal + '%';
      img.style.clipPath = `polygon(0 0, ${sliderVal}% 0, ${sliderVal}% 100%, 0% 100%)`;
    };
  }
</script>

{% schema %}
{
  "name": "Before After Image Slider",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "default": 0,
      "max": 100,
      "min": 0,
      "step": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "default": 80,
      "max": 100,
      "min": 0,
      "step": 10
    },
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "type": "range",
      "id": "slider_height",
      "label": "Slider Height",
      "min": 450,
      "max": 650,
      "step": 50,
      "default": 600
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our bags are handmade using strong fiber"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Description",
      "default": "Our bags are meticulously crafted by skilled artisans, employing durable fiber for longevity and strength."
    },
    {
      "type": "header",
      "content": "Slider Content"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "Text 1",
      "default": "Sample text 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Text 2",
      "default": "Sample text 2"
    },
    {
      "type": "color",
      "id": "accent_1",
      "label": "Accent Color 1",
      "default": "#313131"
    },
    {
      "type": "color",
      "id": "accent_2",
      "label": "Accent Color 2",
      "default": "#fff"
    }
  ]
}
{% endschema %}
