<link rel="stylesheet" href="{{ 'main-reset-password.css' | asset_url }}">

{% layout settings.customer_layout %}

<div id="template" class=" fadeInUp">
  <div class="container reset-password-section">
    <div class="account-form">
      <div class="account-form-inner">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="l-box">
              <div class="template_header password-header reset-password-header">
                <h3 class="form-title">{{ 'customer.reset_password.title' | t }}</h3>
              </div>

              {% form 'reset_customer_password', class: 'pure-form reset_form' %}
                <fieldset>
                  <div class="pure-u-1">
                    <div id="password" class="clearfix large_form">
                      <label class="large" for="password">{{ 'customer.reset_password.password' | t }}</label>
                      <input
                        type="password"
                        value=""
                        name="customer[password]"
                        id="customer_password"
                        class="large password pure-input-1"
                        placeholder="Password"
                        size="16"
                      >
                    </div>
                  </div>
                  <div class="pure-u-1">
                    <div id="password_confirm" class="clearfix large_form">
                      <label class="large" for="password_confirmation">
                        {{- 'customer.reset_password.password_confirm' | t -}}
                      </label>
                      <input
                        type="password"
                        value=""
                        name="customer[password_confirmation]"
                        id="customer_password_confirmation"
                        placeholder="Confirm Password"
                        class="large password pure-input-1"
                        size="16"
                      >
                    </div>
                  </div>
                  {{ form.errors | default_errors }}
                  <div class="action_bottom">
                    <input class="theme-btn primary-btn" type="submit" value="Reset Password">
                  </div>
                </fieldset>
              {% endform %}
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            <div class="">
              <figure>
                {% if section.settings.form_image %}
                  {{
                    section.settings.form_image
                    | image_url: width: 1500
                    | image_tag: loading: 'lazy', sizes: '100', widths: '165, 360, 535, 750, 1070, 1500', class: 'image'
                  }}
                {% else %}
                  {{
                    'lifestyle-1'
                    | placeholder_svg_tag: 'object-cover w-full lg:h-[700px] md:h-[400px] h-[320px] bg-[#ccc]'
                  }}
                {% endif %}
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "form_image",
      "label": "t:sections.main-reset-password.settings.label"
    }
  ]
}
{% endschema %}
